* {
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    background-color: rgb(252, 246, 232);
    font-family: sans-serif;
}

img{
    width: 100%;
    object-fit: cover;
}

p{
    line-height: 1.5em;
}

a{
    text-decoration: none;
    color: #000;
    font-weight: 700;

}

nav {
    display: flex;
    gap: 1em;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5em;
}
.home-link{
    font-size: 1.5em;
}

.about-page-content,.about-page-cta{
    margin: 1.5em;
}

.home-container {
    display: flex;
    flex-direction: column;
    background-image: url(https://picsum.photos/id/33/600/200);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2em 1em;
    color: #fff;
}
.home-container > a, .about-page-cta > a {
    background-color: orange;
    color: #fff;
    text-align: center;
    padding:  1em 3em;
    border-radius: .5em;
}

.about-page-cta{
    background-color: rgb(222, 177, 118);
    padding: 1.5em;
    border-radius:.5em;
}


/*** VAN PAGES ***/
.van-list-container {
    padding-inline: 23px
}

.van-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 34px;
    margin-top: 57px;
}

.van-tile a {
    color: #161616;
    text-decoration: none;    
}

.van-tile img {
    max-width: 100%;
    border-radius: 5px;
}

.van-list-container button {
    margin-right: 20px;
    cursor: pointer;
}

.van-type {
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #FFEAD0;
    color: #4D4D4D;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
    color: #FFEAD0;
}

.van-type:focus {
    outline: none;
}

.van-type.selected {
    color: #FFEAD0;
}

.van-type.simple:hover, .van-type.simple.selected {
    background-color: #E17654;
}

.van-type.rugged:hover, .van-type.rugged.selected {
    background-color: #115E59;
}

.van-type.luxury:hover, .van-type.luxury.selected {
    background-color: #161616;
}

.van-type.clear-filters {
    margin-left: -20px;
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    text-decoration: underline;
    background-color: transparent;
    color: #4D4D4D;
}

i[class*='van-type-'] {
    padding: 7px 14px;
}

.van-detail-container {
    padding: 27px;
}

.van-detail-container .back-button {
    color: black;
    text-decoration: none;
}

.van-detail-container .back-button:visited {
    
}

.van-detail-container .back-button span {
    text-decoration: underline;
}

.van-detail {
    display: flex;
    flex-direction: column;
    color: #161616;
}

.van-detail img {
    border-radius: 5px;
    margin-block: 47px;
}

.van-detail h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.van-detail > i {
    align-self: flex-start;
}

.van-detail .van-price {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.van-detail .van-price span {
    font-weight: 700;
    font-size: 1.5rem;
}

.van-detail .link-button {
    background-color: #FF8C38;
    color: white;
    font-size: 1.125rem;
}